.contain
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.hv
{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    position: relative;
    height: 100px;
    width: 300px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 4px solid rgb(10, 10, 10);
    overflow: hidden;
}
.hove
{
    font-weight: bold;
    font-family:cursive
}
.hv::after
{
    content: "COOL!";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color:rgb(124, 23, 14);
    transform: translateY(-100%);
    transition-duration: 1s;
}
.hv:hover::after
{
   transform: translateY(0%);
}